@import "vars.scss";
@import "fonts.scss";
@import "vendor/breakpoint.scss";
@import 'vendor/reset.css';

html {
  overflow-y: overlay;
}

body {
  font-family: 'Maison Neue', sans-serif;
  font-weight: 350;
}

.page {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1750px;
  padding: 0 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: 40px;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button--options {
  padding: 6px 6px 3px;
  
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  border-radius: 5px;
  border: 3px solid #fff;
  outline: 3.5px solid #000;
  background: linear-gradient(135deg, #000 0%, #3B3B3B 88%);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: rgba(#000, .7);
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: rgba(#fff, .9);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(#fff, .55);
}